# Build and Object Folders
bin/
obj/
TestResult.xml

#User Specific Files
.vs/
*.user
*.suo
*.pidb
*.userprefs
project.lock.json

#Resource Caches
_ReSharper.*
*.sln.cache

#Editor backup files
*~

#NuGet
packages/
tools/*
!tools/packages.config